.header-container{
    height: 40px;
    background-color: rgb(181, 145, 198);
    border: 2px solid;
    border-color: rgb(97, 75, 117);
    box-shadow: 5px 5px #cbc5c5;

}
.input{
    padding: 5px;
    width: 200px;
    margin: 3px 3px 3px 3px;
}
#get-roster{
    margin-left: 480px;
}
.player-info{
    margin-top: 20px;
    display: grid;
    background-color: rgb(163, 161, 163);
    grid-gap: 10px;
    padding: 10px;

}